@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* background: rgb(245, 245, 245);
background: linear-gradient(
  -45deg,
  rgb(255, 255, 255) 20%,
  rgb(220, 220, 220) 100%
);
box-shadow: 6px 6px 10px rgba(200, 200, 200, 0.6),
  -6px -6px 10px rgba(240, 240, 240, 1); */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  background: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
}

svg {
  stroke: rgb(70, 70, 70);
  width: 20px;
  height: 20px;
}
.phone-wrap {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  font-size: 0.9rem;
}

.phone-wrap::-webkit-scrollbar,
.hourly::-webkit-scrollbar {
  display: none;
}
.phone-wrap,
.hourly {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panel-large {
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    -45deg,
    rgb(255, 255, 255) 20%,
    rgb(220, 220, 220) 100%
  );
  box-shadow: 6px 6px 10px rgba(200, 200, 200, 0.8),
    -6px -6px 10px rgb(255, 255, 255);
}
.panel-small {
  padding: 16px 10px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 6px 6px 10px rgba(200, 200, 200, 0.8),
  -6px -6px 10px rgba(240, 240, 240, 1);
}

/* header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topSearch {
  background: rgb(47, 47, 47);
  padding: 8px;
  border-radius: 6px;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    -45deg,
    rgb(255, 255, 255) 20%,
    rgb(220, 220, 220) 100%
  );
  box-shadow: 6px 6px 10px rgba(200, 200, 200, 0.6),
    -6px -6px 10px rgba(240, 240, 240, 1);
}

.line {
  margin: 20px 0;
  height: 4px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: inset 2px 2px 2px rgb(200, 200, 200),
    -2px -2px 2px rgb(255, 255, 255);
}
/* user can't select */
.main-panel,
.hourly {
  user-select: none;
}
img {
  -webkit-user-drag: none;
}
