.theme-dark {
  /* background: rgb(66, 66, 66); */
  filter: invert(0.8);
}

.menu-modal {
  width: 220px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -220px;
  z-index: 900;
  transition: all 0.15s ease-out;
  background: var(--body-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset;
}

.menu-modal_option p,
.menu-modal_option {
  margin-bottom: 10px;
}

.checkbox {
  position: relative;
  margin: 0 10px;
  transition: all 0.5s ease-out;
}

/* checkbox BG unchecked*/
.checkbox:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: var(--body-color);
  box-shadow: var(--small-shadow-one);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  transition: all 0.25s ease-out;
}

/* checkbox BG checked */
.checkbox:checked::after {
  background: rgb(245, 245, 245);
  box-shadow: var(--small-shadow-two);
  transition: all 0.25s ease-out;
}

/* checkbox small circle */
.checkbox:checked::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  box-shadow: var(--basic-box-shadow);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
}

.flag {
  width: 30px;
  object-fit: cover;
}
