.weekly {
  overflow-x: scroll;
}
.weekly-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 240px;
  padding: 20px 0;
  text-align: center;
}
.weekly-card {
  min-width: 160px;
  margin-right: 10px;
  color: rgb(121, 121, 121);
}

.weekly-card__img {
  background: #fff;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(200, 200, 200, 0.6),
    -6px -6px 10px rgba(240, 240, 240, 1);
}

.line-small {
  height: 1px;
  margin: 6px 0;
  background: rgb(228, 228, 228);
}

.weekly-card__description {
  font-size: 0.8rem;
}
.weekly-card__description::first-letter {
  text-transform: uppercase;
}
.weekly-card__info {
  display: flex;
  flex-direction: column;
}
.weekly-card__info svg {
  width: 12px;
}

.weekly-card__info-inner {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}
